@font-face 
{  
	font-family: "Segoe UI Symbol";
	src:	url('seguisym.eot') format('embedded-opentype'),
		url('seguisym.ttf') format('truetype');
	font-weight: normal;  
	font-style: normal;  
}

@font-face 
{  
	font-family: "Segoe MDL2 Assets";
	src:	url('segmdl2.eot') format('embedded-opentype'),
		url('segmdl2.ttf') format('truetype');
	font-weight: normal;  
	font-style: normal;  
}

@font-face 
{  
	font-family: "Segoe Fluent Icons";
	src:	url('SegoeIcons.eot') format('embedded-opentype'),
		url('SegoeIcons.ttf') format('truetype');
	font-weight: normal;  
	font-style: normal;  
}

@font-face {  
	font-family: "Setup";  
	src:	url('SETUP.EOT') format('embedded-opentype'),
		url('SETUP.TTF') format('truetype');
	font-weight: normal;  
	font-style: normal;  
}