* {
    transition: all 0.5s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.page {
    background-color: #1d1d1d;
}

.page.splash {
    background-color: #001629;
}

.page.splash .content,
.page.splash .content * {
    transition: none;
}

.page .content.loading,
.page .content.main,
.page .progress,
.page .reason p,
.page .controls .checkbox {
    color: white;
}

.page .content.main .pkgapplabel {
    color: #299fff;
}

.page .reason textarea {
    background-color: rgba (255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
}